<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>
</head>

<body>
<link rel="stylesheet" href="style.css" />
<div id="app">
    <div class="container">
        <div class="form-group">
            <label>Search</label>
            <input type="text" class="search-input" v-model="searchQuery" />
        </div>

    </div>
    <div class="container">
        <simple-grid :data-list="people" :columns="columns" :search-key="searchQuery">
        </simple-grid>
    </div>
</div>

<template id="grid-template">
    <table>
        <thead>
            <tr>
                <th v-for="col in columns">
                    {{ col.name | capitalize}}
                </th>
                <th>
                    Delete
                </th>
            </tr>
        </thead>
        <tbody>
        <tr v-for="(index,entry) in dataList | filterBy searchKey">
            <td v-for="col in columns">
                <span v-if="col.isKey"><a href="javascript:void(0)" @click="openEditItemDialog(index, 'Edit item ' + entry[col.name])">{{entry[col.name]}}</a></span>
                <span v-else>{{entry[col.name]}}</span>
            </td>
<td class="text-center">
                    <button @click="deleteItem(index)">delete</button>
                </td>
        </tr>
    </tbody>

    </table>
   <div class="container">
        <button class="btn" @click="openNewItemDialog('Create new item')">Create</button>
    </div>

    <modal-dialog :mode="mode" :title="title" :fields="columns" :item="item" v-on:create-item="createItem" v-on:update-item="updateItem">
    </modal-dialog>
</template>


<template id="dialog-template">
    <div class="dialogs">
        <div class="dialog" v-bind:class="{ 'dialog-active': show }">
            <div class="dialog-content">
                <header class="dialog-header">
                        <h1 class="dialog-title">{{ title }}</h1>
                </header>

                <div v-for="field in fields" class="form-group">
    <label>{{ field.name }}</label>
    <select v-if="field.dataSource" v-model="item[field.name]" :disabled="mode === 2 && field.isKey">
            <option v-for="opt in field.dataSource" :value="opt">{{ opt }}</option>
    </select>
    <input v-else type="text" v-model="item[field.name]" :disabled="mode === 2 && field.isKey">
</div>


                <footer class="form-group">
                    <label></label>
                    <button v-on:click="save">Save</button>
                    <button v-on:click="close">Close</button>
                </footer>
            </div>
        </div>
        <div class="dialog-overlay"></div>
    </div>
</template>



<script src="vue.js"></script>
<script>
    Vue.component('simple-grid', {
		data: function() {
        return {
            mode: 0,
            item: {},
            titie: ''
        }
    },
    components: {
        'modal-dialog': {
            template: '#dialog-template',
            data: function() {
                return {
                    // 对话框默认是不显示的
                    show: false
                }
            },
            /*
             * mode = 1是新增数据模式，mode = 2是修改数据模式
             * title表示对话框的标题内容
             * fields表示对话框要显示的数据字段数组
             * item是由simple-dialog传下来，用于绑定表单字段的
             */
            props: ['mode', 'title', 'fields', 'item'],
            methods: {
                close: function() {
                    this.show = false
                },
                save: function() {
                       if (this.mode === 1){
                        // 使用$dispatch调用simple-grid的create-item方法
                        this.$dispatch('create-item')
						}
						}

                },
				events: {
                // 显示或隐藏对话框
                'showDialog': function(show) {
                    this.show = show
                }
            }

            }
        },


		
        template: '#grid-template',
        props: ['dataList', 'columns', 'searchKey'],
        methods: {
			openNewItemDialog: function(title) {
            // 对话框的标题
            this.title = title
            // mode = 1表示新建模式
            this.mode = 1
            // 初始化this.item
            this.item = {}
            // 广播事件，showDialog是modal-dialog组件的一个方法，传入参数true表示显示对话框
            this.$broadcast('showDialog', true)
        },
        createItem: function() {
            // 将item追加到dataList
            this.dataList.push(this.item)
            // 广播事件，传入参数false表示隐藏对话框
            this.$broadcast('showDialog', false)
            // 新建完数据后，重置item对象
            this.item = {}
        },

            deleteItem: function(index) {
                this.dataList.splice(index, 1);
            },
			
        }
    })

    var demo = new Vue({
        el: '#app',
        data: {
            searchQuery: '',
            columns: [{
                name: 'name',
				isKey: true
            }, {
                name: 'age'
            }, {
                name: 'sex',
				dataSource: ['Male', 'Female']
            }],
            people: [{
                name: 'Jack',
                age: 30,
                sex: 'Male'
            }, {
                name: 'Bill',
                age: 26,
                sex: 'Male'
            }, {
                name: 'Tracy',
                age: 22,
                sex: 'Female'
            }, {
                name: 'Chris',
                age: 36,
                sex: 'Male'
            }]
        }
    })
</script>

</body>
</html>
